<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="Content/app.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/photos/logo.png" height="70" width="70"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home") { %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>

          <a class="nav-link" href="/"><i class="fa fa-lg fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>


        <% if (title == "Aboutme") { %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/aboutme"><i class="fa fa-lg fa-info"></i> About Me</a>
        </li>


        <% if (title == "projects") { %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/projects"><i class="fa fa-lg fa-briefcase"></i> projects</a>
        </li>


        <% if (title == "services") { %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/services"><i class="fa fa-lg fa-birthday-cake"></i> services</a>
        </li>


        <% if (title == "contacts") { %>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/contacts"><i class="fa fa-lg fa-phone"></i> contacts</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
        <img src="assets/photos/welcome.jpg" class="img-fluid" width="1000">
      <h1 class="display-4">Hello there</h1>
      <p class="lead">This is my assignment1.</p>
      <hr class="my-4">
      <p>Manpreet Singh Student Id:- 300976016</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/aboutme" role="button">about me</a>
      </p>
    </div>
  </div>

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>

</html>